/*
Color Scheme

Font:
Background color: #393939 
Results: background:#F54927

extra colors: #be4f0c orange yellow
                #FF5A09  deep oragne

*/
html{
    font-family: "nunito", sans-serif;
    background-color: #393939;
}
body {
    top: 0;
    margin:0;
}

header{
    background-color: #393939;
    position:fixed;
    z-index:10;
    width:100%;

}
.pagetitle {
    width:100%;
    text-align: center;
    padding-top:0.1rem;

}

.search-bar{
    display:flex;
    justify-content: center;
    padding:0.5rem;
    margin:0.5rem;

}
.search-bar input{
    margin: 0rem 0.5rem 0rem 0.1rem;
}

.search-results
{
    padding-top:8.3rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.result{
    padding:0.3rem;
    margin: 0.3rem;
    border:0.3rem solid #F54927;
    border-radius: 1.5rem;
    background-color: #F54927;
    box-shadow: 0rem 1rem 1.25rem 0rem ;
}
.result img{
    border-radius: 1rem;
}
.result h3 {
    text-align: center;
}